{% extends 'base.html.twig' %}
{% block title %}Table of planetary statistics{% endblock %}

{% block body %}
    <center><h1>estadisticas</h1></center>
    <div id="root"></div>
    {% block content %}
    {% endblock %}
{% endblock %}
