<form method="post" action="{{ path('role_sistema_delete', {'id': role_sistema.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ role_sistema.id) }}">
    <button class="btn">Delete</button>
</form>
