<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <title>Demystifying Email Design</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    </head>
    <body style="margin: 0; padding: 0;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="padding: 10px 0 30px 0;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #cccccc; border-collapse: collapse;" width="600">
                        <tr>
                            <td bgcolor="#20c997" align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                                {#<img alt="todopartes.mx"  src="http://todopartes.mx/images/estaticas/logo_todopartes_255x45.png" style="display: block;" width="200px"/>#}
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                                            <center><b>¡Gracias por registrarte!</b></center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                            ¡Hola! <b>{{nombre|title}}</b> Bienvenido a nicenmt.mx
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                            Para completar tu registro ingresa al siguiente enlace:
                                        </td>
                                    </tr>
                                     <tr>
                                        <td align="center" style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                            <a style="text-decoration: none;padding: 10px;font-weight: 600;font-size: 20px;color: #ffffff;background-color: #0275d8;border-radius: 6px;border: 2px solid #0016b0;" href="{{ url('frontend_cliente_validacion', {'cadena': cadena, 'correo': correo}) }}">
                                                Validar cuenta
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#20c997" style="padding: 30px 30px 30px 30px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td align="center" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                                            &reg; nicenmt.mx 2019-{{ 'now'|date('Y') }} © Hecho en Hidalgo, Estados Unidos Mexicanos<br/> <br/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>

