
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/assets/img/back/articulos
/public/assets/img/back/articulos/mini_thumbs
/public/assets/img/back/articulos/thumbs
/public/bundles
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
sendgrid.env
