{% extends 'Frontend/ResetPassword/request.html.twig' %}

{% block title %}Email de restablecimiento de contrase単a enviado{% endblock %}

{% block content %}
     <div class="container">
        <div class="alert alert-primary" role="alert">
            <h5>Email enviado</h5>
            <p>Un email de restablecimiento de contrase単a a sido enviado, contiene un link para restablecer tu contrase単a. El link expira en  {{ tokenLifetime|date('g') }} hora(s).</p>
            <p>Si no recibiste el link intentalo de nuevo aqui <a href="{{ path('front_forgot_password_request') }}">Restablecer contrase単a</a>.</p>
        </div>
     </div>
{% endblock %}
