{% extends 'backend/Default/homePage.html.twig' %}

{% block title %}Pagina inicio{% endblock %}

{% block content %}
    <div class="row">
        <h5>Contenido</h5>
    </div>
{% endblock  content %}
