{% extends 'backend/ResetPassword/request.html.twig' %}

{% block title %}Email de restablecimiento de contrase単a enviado{% endblock %}

{% block content %}
    <p>Un email de restablecimiento de contrase単a a sido enviado, contiene un link para restablecer tu contrase単a. El link expira en  {{ tokenLifetime|date('g') }} hora(s).</p>
    <p>Si no recibiste el link intentalo de nuevo aqui <a href="{{ path('app_forgot_password_request') }}">restablecer contrase単a</a>.</p>
{% endblock %}
