{% extends is_granted('ROLE_USER_BACK') ? 'backend/Default/homePage.html.twig' : 'Frontend/Default/base.html.twig' %}
{% if is_granted('ROLE_USER_BACK') %}
    {% block content %}
        <div class="error-area ptb--100 text-center">
            <div class="container">
                <div class="error-content">
                    <h2>Ha ocurrido un error inesperado</h2>
                    <p>Ocurri贸 un error al procesar la acci贸n, por favor intente mas tarde</p>
                    <a href="index.html">Back to Dashboard</a>
                </div>
            </div>
        </div>
    {% endblock %}
{% else %}
    {% block body %}
        <div id="all">
            <div id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- breadcrumb-->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ url('frontend_home_page') }}">Inicio</a></li>
                                    <li aria-current="page" class="breadcrumb-item active">Error</li>
                                </ol>
                            </nav>
                            <div id="error-page" class="row">
                                <div class="col-md-6 mx-auto">
                                    <div class="box text-center py-5">
                                        <p class="text-center"><img src="img/logo.png" alt="Obaju template"></p>
                                        <h3>Ha ocurrido un error inesperado</h3>
                                        <p class="text-center">Ocurri贸 un error al procesar la acci贸n, por favor intente mas tarde </p>
                                        <h4 class="text-muted">{{ status_text ? 'Error: ' ~ status_code ~ ' : ' ~ status_text }}</h4>
                                        <p class="buttons"><a href="{{ url('frontend_home_page') }}" class="btn btn-primary"><i class="fa fa-home"></i> Ir a inicio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}